{{#if label}}<label for="{{id}}" data-verdict="no issues detected">{{label}}</label>{{/if}}
<input 
  {{#if class}}class="{{class}}"{{/if}}
  {{#if id}}id="{{id}}"{{/if}}
  type="{{type}}" 
  name="{{name}}"
  {{#if placeholder}}placeholder="{{placeholder}}"{{/if}}
  {{#if value}}value="{{value}}"{{/if}}
  {{#if required}}required="{{required}}"{{/if}}/>
  {{#if typeIMG}}<img src="/assets/{{src}}" alt="{{alt}}">{{/if}}
{{#if mismatchObject}}<p class="{{mismatchObject}}"></p>{{/if}}

{{!-- 

label?: string
class?
id
type: text, password, etc.
name = id
placeholder?
value?
required?: boolean
typeIMG?: boolean
  src: path: "image.png"
mismatchObject: class

 --}}
