<div class="on-hover {{#if selected}}_selected{{/if}}">
    <div class="chat-card" data-recipient="{{recipientName}}" data-last-message="{{lastMessage}}">
        {{> component_image
            class="chat-list-recipient"
            src=src}}
        <div class="chat-info">
            <h3>{{recipientName}}</h3>
            <p>
                {{#if lastTextYou}}<mark>You:</mark>{{/if}}
                {{lastMessage}}</p>
        </div>
        <span class="chat-last-text">
            {{time}}
            {{#if (isNumber unread)}}<span class="n-of-unread" unread="{{unread}}">{{unread}}</span>{{/if}}
        </span>
    </div>
</div>